.maindiv{
    
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 2em;
    margin: 100px auto;
    font-size: x-large;
    background-color: white;
}

.data{
    margin: 40px auto;
    margin-left: 30px;
}

.guess{
    color: cadetblue;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.648);
}



#numb{
    width: 200px;
    margin: 20px auto;
    margin-left: 100px;
    /* padding: 10px; */
    height: 20px;
    box-shadow: 5px 5px grey;
}

.btn{
    margin: 20px auto;
    margin-left: 80px;
    height: 80px;
    /* cursor: pointer;*/
} 

#re{
    margin-left:130px;
    height: 20px;
    border-radius: 1em;
    width: 80px;
    background-color: blanchedalmond;
    cursor: pointer;
}

#sub{
    height: 20px;
    width: 80px;
    border-radius: 1em;
    background-color: blanchedalmond;
    cursor: pointer;
}

#re:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.648);
    background-color: red;
    color: white;
}

#sub:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.648);
    background-color: green;
    color: white;
}

.displays{
    border: none;
    width: 400px;
    height: 50px;
    margin-left: 70px;
    color: chocolate;
}

.attempts{
    color: palevioletred;
    margin: 10px auto;
    font-size: larger;
    margin-left: 100px;
}